.add-coverage {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 14px;
  span{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #937DFF;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
      content: '';
      color: #6f7dff;
      opacity: 0.6;
      font-size: 17px;
      transition: all ease .3s;
    }
    &.enabled:before {
      content: '-';
    }
    &.disabled:before {
      content: '+';
    }    
  }
  p {
    color: #6f7dff;
    font-size: 12px;
    letter-spacing: 0.6px;
  }
}